

.center {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .center {
    flex-direction: column;
    height: auto;
  }

  .display-name {
    height: 100vh;
    padding: 0 5rem 0 5rem !important;
  }

  .about {
    height: 100vh;
    justify-content: flex-start !important;
    .text .info {
      font-size: 2rem !important;
    }
  }

  .project-list {
    flex-direction: column;
    width: 90% !important;
    .project-item {
      width: 100% !important;
    }
  }
}

@keyframes over {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
