$title-font-size: 2.5rem;
$subtitle-font-size: 1.5rem;
$margin: 0 0 1rem 0;
$fa-icon-size: 1.75rem;

.display-name{
    padding-top: 10rem;
    .media-list{
        list-style-type: none;
        margin-top: 0;
        padding: 0;
        li{
            display: inline-block;
            line-height: 5rem;
            position: relative;
            width: 5.35rem;
        }
    }
    .name{
        margin: $margin;
        font-size: $title-font-size;
        font-weight: 900;
        letter-spacing: -0.025rem;
        line-height: 1em;
    }   

    .subtitle{
        font-size: $subtitle-font-size;
        letter-spacing: -0.025rem;
        font-weight: 250;
        opacity: 0.5;
        margin: $margin;
    }
    .icon{
        text-decoration: none;
        color:inherit;
        border-radius: 100%;
        border: solid 1px #fff;
        height: 4rem;
        line-height: 4rem;
        position: relative;
        text-align: center;
        top: 0;
        width: 4rem;
        font-size: $fa-icon-size;
        &:hover{
            .label{
                visibility: visible !important;
            }
            background-color: rgba($color: #ffff, $alpha: 0.2);;
            transition: all 0.2s ease-in-out;
            font-size: $fa-icon-size + 0.05rem;
        }
    }
}