.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}


/* TODO Icons before hover and after hover */
/* TODO animations for entrance */
/* TODO FilmStrip like thing for latest projects */


